.login-container {
  margin: 0px;
  height: 600px;
}

.login-banner-container {
  display: none;
}

.account-form-wrapper {
  width: 100%;
}

section table {
  font-family: "Poppins";
  color: #212121;
}

main {
  margin: 5px;
}

.carousel {
  display: none !important;
}

.main-header {
  min-height: 0;
}

.numero-card {
  flex-grow: 1
}