/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background: #f1f1f1 !important;
}

/* Login e Cadastro */

.login-container {
  margin: 0 100px;
  background: rgb(253, 253, 253);
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.login-banner-container {
  width: 50%;
  height: 650px;
  background: url('https://colorlib.com/etc/lf/Login_v17/images/bg-01.jpg') center center;
}

.account-form-wrapper {
  width: 50%;
  padding: 50px;
  text-align: center;
}

.account-form h1 {
  font-family: "Poppins";
  color: #383838;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase
}

.account-form input {
  font-family: "Poppins";
  padding: 20px;
  border-radius: 0px;
}

input:focus, 
.btn:focus {
  border-color: rgba(0, 176, 158, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 176, 158, 0.6) !important;
  outline: 0 none;
}

.btn-login {
  padding: 15px !important;
  color: white;
  background: #00B09F;
  font-family: "Poppins";
  font-weight: bold;
  transition: .5s all !important;
}

.btn-login:hover {
  background: #212121;
}

.account-form-wrapper a {
  color: #00B09F !important;
  font-family: "Poppins"
}

.cadastro-form {
  width: 100%;
  text-align: left;
}

.cadastro-form input {
  margin: 2px 3px;
}

.pergunta-container {
  font-family: "Poppins";
  display: flex;
  flex-wrap: wrap;
}

.pergunta-container > div {
  padding: 10px;
  background: #cecece;
  border-radius: 4px;
  margin: 2px;
  color: gray
}

.text-pergunta {
  font-weight: bold;
}

/* index */

.main-header {
  min-height: 500px;
  background: #212121;
  overflow: hidden;
}

.main-navbar {
  background: #fff;
  padding: 20px;
  font-family: "Poppins";
  font-weight: bold;
  color: #a1a1a1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 14px 28px rgba(0,0,0,1), 0 10px 10px rgba(0,0,0,1);
  flex-wrap: wrap;
}

.btn-loggout {
  color: white;
  padding: 10px 20px !important;
  background: #00B09F;
}

main {
  margin: 10px 80px;
  overflow: hidden;
}

.banner-container {
  height: 500px;
  background: #00B09F;
}

section h3 {
  font-family: "Poppins" !important;
  color: #bbbbbb;
  margin: 20px 0;
}

section h3:after {
  content: '';
  display: block;
  background: #dadada;
  height: 1px;
  width: 100%;
  margin: 5px 100px;
}

section table {
  font-family: "Poppins";
  color: #949494;
  margin: 0px 20px;
}

table th {
  color: #00B09F;
}

table tr:hover {
  color: #212121;
}

.container-numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  background: #e4e4e4;
  border-radius: 10px;
  padding: 20px;
}

.numero-card {
  width: 200px;
  background: white;
  border-top: #00B09F 2px solid;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: .5s all;
  margin: 20px 5px;
}

.numero-card:hover {
  transform: translateY(-15px);
}

.card-top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #00B09F;
  font-family: "Poppins";
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-bottom {
  background: #00B09F;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  text-align: center;
  border-radius: 100px;
  transform: translateY(20px);
}

.main-footer {
  width: 100%;
  height: 200px;
  background: #212121;
}

